@use "../global" as *;

.c-button {
    position: relative;
	width: 100%;
	max-width: 500px;
	height: 60px;
    color: $color-white;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 27px 8px 17px;
	text-decoration: none;
    font-weight: $semibold;
    // font-size: 16px;

    @include mq('sm') {
        font-size: 16px;
    }
    @include mq('md') {
        font-size: 15px;
    }
    @include mq('xl') {
        font-size: 16px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 42%;
        right: 8px;
        border-bottom: 2px solid $color-white;
        border-right: 2px solid $color-white;
        transform: rotate(-45deg) translate(-50%, -50%);
        transition: right .2s
    }
}

.c-button:hover {
    @media (hover: hover) and (pointer: fine) {
        opacity: 1;
        &::after {
            right: 4px;
        }
    }
}

.c-button--01 {
    background-color: $color-accent;
}

.c-button--02 {
    background-color: $color-campaign;
}

.c-button--03 {
    background-color: $color-discord;
}